// layout.pug
doctype html
html
  head
    title= pageTitle || 'My Application'
    link(rel="stylesheet", href="/path/to/your/styles.css")
  body
    // Header Section
    header
      nav
        ul
          li: a(href="/") Home
          li: a(href="/userlist") User List
          li: a(href="/contact") Contact Us
          
    // Main Content Section (This is where the content from individual pages will go)
    block content

    // Footer Section
    footer
      p © 2025 Your Company. All rights reserved.
