doctype html
html
  head
    title #{title} - Ride Sharing App
    link(rel='stylesheet', href='/styles.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    header
      nav.navbar
        .container
          a.navbar-brand(href='/') Ride Sharing App
          ul.navbar-nav
            li.nav-item
              a(href='/users') Users
            li.nav-item
              a(href='/rides') Rides
    
    main.container
      block content
    
    footer
      .container
        p &copy; 2023 NepSoftware - Ride Sharing App 